$phone: "(min-width: 300px) and (max-width: 567px)";
$tablet: "(min-width: 568px) and (max-width: 1023px)";
$mobile: "(min-width: 300px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@mixin desktop-laptop {
  @media screen and #{$desktop} {
    @content;
  }
}
@mixin mobile {
  @media screen
    and #{$mobile} {
    @content;
  }
}
@mixin mobile-portrait {
  @media screen
    and #{$mobile}
    and (orientation: portrait) {
    @content;
  }
}
/* iPhone 5 & 5s (Portrait) */
@mixin phone-portrait {
  @media screen
    and #{$phone}
    and (orientation: portrait) {
    @content;
  }
}
/* Tablet (Portrait) */
@mixin tablet-portrait {
  @media screen
    and #{$tablet}
    and (orientation: portrait) {
    @content;
  }
}
/* Tablet & Phone (Landscape) */
@mixin tablet-phone-landscape {
  @media screen
    and #{$mobile}
    and (orientation: landscape) {
    @content;
  }
}